/Combined_Mesh_Trial_1.ply
/Combined_Mesh_Trial_1.stl
/control_points.csv
/Matlabstl.m
/MATLAB_EXPORT.stl
/negative_y_stl.stl
/numpy_stl_example_02.stl
/numpy_stl_example_03.stl
/Output_File.ply
/pointcloud_bifurcation.csv
/positive_y_stl.stl
/PreCarinaGeometry.jpg
__pycache__/bifurcation_vectors_class.cpython-311.pyc
__pycache__/stylianou_geometry_equations.cpython-311.pyc
__pycache__/bifurcation_mesh_class.cpython-311.pyc
__pycache__/utility_functions_bifurcation.cpython-311.pyc
__pycache__/bifurcation_free_vertices_class.cpython-311.pyc
__pycache__/bifurcation_unit_class.cpython-311.pyc
__pycache__/single_pathway_bifurcating_model_class.cpython-311.pyc
Four_Generation_Plane_Values.txt
__pycache__/stylianou_geometry_equations_legacy.cpython-311.pyc
__pycache__/pointcloud_construction_functions.cpython-311.pyc
__pycache__/bifurcation_unit_centerline_class.cpython-311.pyc
bifurcation_output.txt
bifurcation_unit_volume_and_area.txt
single_pathway_tree_outlet_normals.txt
single_pathway_tree_outlet_positions.txt
